spring:
  profiles:
    active: dev
  application:
    name: app
  datasource:
    url: jdbc:postgresql://localhost:5432/ecomm_db
    username: codey
    password: admin

  jpa:
    hibernate:
      ddl-auto: update

server:
  port: 8888
