spring:
  application:
    name: app
  datasource:
    url: jdbc:postgresql://localhost:5432/ecomm_db
    username: codey
    password: admin

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8888